<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortFolio</title>

    <link rel="stylesheet" href="../static/css/design.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/root.css">
</head>
<body>
    
    <div id="header-section">
        <img src="../static/image/other/balloon.png">
        <section class="text-section">
            <h1 class="title-design">Hey, I'm Blaz.</h1>
            <h1 class="title-design">building skills & projects</h1>
            <label class="subtitle-design">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</label>
        </section>

        <section class="button-section">
            <a href="#" class="black-button click-effect"><button>explore more</button></a>
            <a href="#" class="green-button click-effect"><button>Currently learning new skills</button></a>
        </section>
    </div>

    <div id="about-section">
        <section class="text-section">
            <h1 class="title-design">about</h1>
            <label class="text-design">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo voluptate ea iste dolores tenetur quas magni recusandae blanditiis fugit. Velit nemo similique laborum ut. Ullam corrupti itaque dignissimos veritatis reiciendis! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo voluptate ea iste dolores tenetur quas magni recusandae blanditiis fugit. Velit nemo similique laborum ut. Ullam corrupti itaque dignissimos veritatis reiciendis!</label>
        </section>

        <section class="image-section">
            <div class="image-bg">
                <img src="../static/image/other/balloon.png">
                <label class="hand-writing-design">Lorem Ipsum is simple dummy text</label>
            </div>
            <div class="image-bg">
                <img src="../static/image/other/grass.png">
                <label class="hand-writing-design">Lorem Ipsum is simple dummy text</label>
            </div>
        </section>
    </div>

    <div id="experience-section">
        <h1 class="title-design">programming experience</h1>
        <section class="text-table">

            <div class="line">
                <section class="blue-line">
                    <h1 class="text-design">Python / Lua / C++ / C / PHP</h1>
                    <label class="subtitle-design">Back-end</label> 
                </section>
                <label class="text-design">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae ipsum est veritatis ipsam illo doloremque porro neque laudantium obcaecati, atque cupiditate officia dignissimos a illum blanditiis accusantium sint hic. Ducimus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae ipsum est veritatis ipsam illo doloremque porro neque laudantium obcaecati, atque cupiditate officia dignissimos a illum blanditiis accusantium sint hic. Ducimus?</label>
            </div>

            <div class="line">
                <section class="orange-line">
                    <h1 class="text-design">HTML&CSS / JavaScript</h1>
                    <label class="subtitle-design">Front-end</label> 
                </section>
                <label class="text-design">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae ipsum est veritatis ipsam illo doloremque porro neque laudantium obcaecati, atque cupiditate officia dignissimos a illum blanditiis accusantium sint hic. Ducimus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae ipsum est veritatis ipsam illo doloremque porro neque laudantium obcaecati, atque cupiditate officia dignissimos a illum blanditiis accusantium sint hic. Ducimus?</label>
            </div>
            <div class="line">
                <section class="green-line">
                    <h1 class="text-design">MySql</h1>
                    <label class="subtitle-design">DataBases</label> 
                </section>
                <label class="text-design">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae ipsum est veritatis ipsam illo doloremque porro neque laudantium obcaecati, atque cupiditate officia dignissimos a illum blanditiis accusantium sint hic. Ducimus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae ipsum est veritatis ipsam illo doloremque porro neque laudantium obcaecati, atque cupiditate officia dignissimos a illum blanditiis accusantium sint hic. Ducimus?</label>
            </div>
        </section>
    </div>

    <div id="title-section">
        <h1 class="title-design">Here's what I've been up to.</h1>
    </div>

    <div id="projects">
        <div id="project-section">
            <div class="image-bg">
                <img src="../static/image/other/grass.png">
            </div>
            <section class="text-section">
                <h1 class="title-design">Lorem Ipsum</h1>
                <label class="subtitle-design">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ullam sit maxime, error aliquam nihil eaque et voluptates dignissimos, exercitationem similique ipsum labore necessitatibus! Non earum temporibus nam voluptas magnam!</label>
            </section>
    
            <section class="button-section">
                <a href="#" class="gray-button click-effect">
                    <button>explore more</button>
                    <img src="../static/image/icon/right-arrow.png">
                </a>
            </section>
        </div>
        
        <div id="project-section">
            <div class="image-bg">
                <img src="../static/image/other/balloon.png">
            </div>
            <section class="text-section">
                <h1 class="title-design">Lorem Ipsum</h1>
                <label class="subtitle-design">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ullam sit maxime, error aliquam nihil eaque et voluptates dignissimos, exercitationem similique ipsum labore necessitatibus! Non earum temporibus nam voluptas magnam!</label>
            </section>
    
            <section class="button-section">
                <a href="#" class="gray-button click-effect">
                    <button>explore more</button>
                    <img src="../static/image/icon/right-arrow.png">
                </a>
            </section>
        </div>
    </div>

    <div id="title-section">
        <h1 class="title-design">How can i help?</h1>
        <label class="subtitle-design">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label>
    </div>

    <div></div>
</body>
</html>