<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/design.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/root.css">
</head>
<body>
    
    <section id="menu" class="title-robot">
        <a href="#"><label class="text-d">About</label></a>
        <a href="#"><label class="text-d">Projects</label></a>
        <a href="#"><label class="text-d">Blog</label></a>
        <a href="#"><label class="text-d">Feeds</label></a>
    </section>

</body>
</html>