body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    width: 1100px;
    font-family: var(--text-font);

    margin: 0 auto;
    padding: 0;
    padding-inline: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 200px;

    border-left: 4px solid var(--dark-white);
    border-right: 4px solid var(--dark-white);

    overflow-x: hidden;

    position: relative;
}
body > div {
    width: 100%;
    min-height: 400px;

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}


h1 {margin: 0;}
a {text-decoration: none; color: var(--primary-text-color);}
a label,
a input {cursor: pointer;}

/* ================================================= */
/* Sections */
.text-section {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.text-section-liner h1 {font-size: 30px;}
.text-section-liner label {font-size: 20px;}
.button-section {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.image-section {
    width: 700px;
    margin: 0 auto;
}

/* ================================================= */
/* Texts */
.super-title-design {
    font-size: 100px;
    text-transform: capitalize;
}
.title-design {
    font-size: 50px;
    text-transform: capitalize;
}
.text-design {
    font-size: 25px;
}
.subtitle-design {
    opacity: .5;
    font-size: 25px;
}
.hand-writing-design {
    font-family: var(--hand-writing-font);
    font-size: 25px;
}
/* ================================================= */
/* Buttons */
.black-button > button,
.black-button > input {
    background-color: var(--primary-text-color);
    color: var(--primary-bg-color);

    font-size: 25px;
    text-transform: capitalize;

    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;

    min-width: 200px;
}
.green-button > button {
    background-color: var(--light-green);
    color: var(--darker-green);

    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;

    outline: none;
    border: none;
    padding: 15px 20px;
    padding-left: 50px;
    border-radius: 100px;
    position: relative;
}
.green-button > button::before {
    content: "";
    background-color: var(--darker-green);
    height: 10px;
    width: 10px;
    border-radius: 100px;

    position: absolute;
    left: 20px;
    bottom: 50%;
    transform: translateY(50%);
}
.gray-button {
    background-color: var(--dark-white);
    color: var(--primary-text-color);

    outline: none;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.gray-button > button,
.gray-button > input {
    background: none;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;
    outline: none;
    border: none;
}
.gray-button > img {
    width: 20px;
    object-fit: cover;
}

/* ================================================= */
/* Input */
.input-design {
    border: none;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray);
    outline: none;

    font-size: 20px;
    width: 300px;
}

/* ================================================= */
/* Border */
.top-bottom-border {position: relative;}
.top-bottom-border::before {
    content: "";
    background: linear-gradient(
        90deg,
        var(--primary-bg-color),
        var(--dark-white),
        var(--dark-white),
        var(--dark-white),
        var(--primary-bg-color)
    );
    height: 5px;
    width: 100%;

    position: absolute;
    bottom: -100px;
    left: 0;
}
.top-bottom-border::after {
    content: "";
    background: linear-gradient(
        90deg,
        var(--primary-bg-color),
        var(--dark-white),
        var(--dark-white),
        var(--dark-white),
        var(--primary-bg-color)
    );
    height: 5px;
    width: 100%;

    position: absolute;
    top: -100px;
    left: 0;
}

/* ================================================= */
/* Effects */
button {cursor: pointer;}
.click-effect {transition: all .3s; cursor: pointer;}
.click-effect:active {transform: scale(.95);}

/* ================================================= */
/* Ranks */
.rank {
    content: "";
    padding: 10px 20px;

    outline: none;
    border-radius: 20px;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    font-weight: bold;
}
.rank img {width: 30px; color: var(--primary-text-color);}
.rank-blue {
    background: url("../image/shapes/blue-shape.jpg");
    background-position: center;
    background-size: cover;

    border: 1px solid var(--blue);
}
.rank-orange {
    background: url("../image/shapes/orange-shape.jpg");
    background-position: center;
    background-size: cover;
    border: 1px solid var(--orange);
}
.rank-gray {
    background: url("../image/shapes/Gray-shape.jpg");
    background-position: center;
    background-size: cover;
    border: 1px solid var(--gray);
}

/* =================================================
/* Media */

/* Pc */
@media (min-width: 1500px) {
    body {
        width: 1125px;
    }
}

/* Tablet */
@media (max-width: 1200px) {
    body {
        width: 750px;
        padding-inline: 50px;
    }
    
    .button-section {
        flex-direction: column;
    }

    #card-slide-projects-section {
        width: 77% !important;
    }
    #card-slide-projects-section .card-slider-track .card {
        height: 400px;
        width: 550px;
    }

    .image-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #about-section .image-section .image-bg:nth-child(1) {
        left: 0 !important;
        top: 50px;
    }
    #about-section .image-section .image-bg:nth-child(2) {
        top: -100px;
        right: 0 !important;
    }

    #grid-title h1 {
        font-size: 120px !important;
        letter-spacing: 0 !important;
    }

    #projects {
        width: 100% !important;
    }
    #project-section {
        width: 100% !important;
    }

    #title-section {
        text-align: center;
    }

    #card-section {height: 1300px !important;}
    #card-section .image-section .image-bg:nth-child(1) {left: 0 !important; top: 0;}
    #card-section .image-section .image-bg:nth-child(2) {left: 400px !important; top: 250px;}
    #card-section .image-section .image-bg:nth-child(3) {left: 0 !important; top: 550px !important;}
    #card-section .image-section .image-bg:nth-child(4) {right: 0 !important; bottom: 0;}
}

/* Phone */
@media (max-width: 768px) {
    
    body {
        width: 100%;
        padding-inline: 50px;
    }

    .button-section {
        flex-direction: column;
    }

    #card-slide-projects-section {
        width: 77% !important;
    }
    #card-slide-projects-section .card-slider-track .card {
        height: 400px;
        width: 550px;
    }

    .image-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #about-section .image-section .image-bg:nth-child(1) {
        left: 0 !important;
        top: 50px;
    }
    #about-section .image-section .image-bg:nth-child(2) {
        top: -100px;
        right: 0 !important;
    }

    #grid-title h1 {
        font-size: 100px !important;
    }

    #projects {
        width: 100% !important;
    }
    #project-section {
        width: 100% !important;
    }

    #title-section {
        text-align: center;
    }

    #card-section {height: 1300px !important;}
    #card-section .image-section .image-bg:nth-child(1) {left: 0 !important; top: 0;}
    #card-section .image-section .image-bg:nth-child(2) {left: 400px !important; top: 250px;}
    #card-section .image-section .image-bg:nth-child(3) {left: 0 !important; top: 550px !important;}
    #card-section .image-section .image-bg:nth-child(4) {right: 0 !important; bottom: 0;}
}

/* ================================================= */
/* Load Animations */
h1 {animation: title_load 1s forwards;}
label {animation: label_load 1s forwards;}
a {animation: button_load 1s forwards;}
input {animation: button_load 1s forwards;}
.image-bg {animation: image_load 1s forwards;}
.card {animation: card_load 1s forwards;}
/* .card-bg {animation: card_load 1s forwards;} */

@keyframes title_load {
    from {
        transform: translateX(-300px) scale(.7);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes label_load {
    from {
        transform: translateX(300px) scale(.7);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes button_load {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    75% {
        transform: scale(.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes image_load {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    75% {
        transform: scale(.9);
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes card_load {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    75% {
        transform: scale(.9);
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes title_2_load {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    75% {
        transform: scale(.9);
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/* ================================================= */
/* Other Animations */
.autoBlur {
    animation: text-blue linear;
    animation-timeline: view();
}

@keyframes text-blue {
    0% {filter: blur(40px);}
    52.5%,55% {filter: blur(0);}
    100% {filter: blur(40px);}
}