body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    width: 1000px;

    font-family: var(--text-font);

    margin: 0 auto;
    padding: 0;
    padding-inline: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 200px;

    border-left: 4px solid var(--dark-white);
    border-right: 4px solid var(--dark-white);

    overflow-x: hidden;

    position: relative;
}
body > div {
    width: 100%;
    min-height: 400px;

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;

}
h1 {margin: 0;}
a {text-decoration: none; color: var(--primary-text-color);}

/* ================================================= */
/* Sections */
.text-section {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.text-section-liner h1 {font-size: 30px;}
.text-section-liner label {font-size: 20px;}
.button-section {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.image-section {
    width: 700px;
    margin: 0 auto;
}

/* ================================================= */
/* Texts */
.title-design {
    font-size: 50px;
    text-transform: capitalize;
}
.text-design {
    font-size: 25px;
}
.subtitle-design {
    opacity: .5;
    font-size: 25px;
}
.hand-writing-design {
    font-family: var(--hand-writing-font);
    font-size: 20px;
}
/* ================================================= */
/* Buttons */
.black-button > button,
.black-button > input {
    background-color: var(--primary-text-color);
    color: var(--primary-bg-color);

    font-size: 25px;
    text-transform: capitalize;

    outline: none;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
}
.green-button > button {
    background-color: var(--light-green);
    color: var(--darker-green);

    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;

    outline: none;
    border: none;
    padding: 15px 20px;
    padding-left: 50px;
    border-radius: 100px;
    position: relative;
}
.green-button > button::before {
    content: "";
    background-color: var(--darker-green);
    height: 10px;
    width: 10px;
    border-radius: 100px;

    position: absolute;
    left: 20px;
    bottom: 50%;
    transform: translateY(50%);
}
.gray-button {
    background-color: var(--dark-white);
    color: var(--primary-text-color);

    outline: none;
    border: none;
    padding: 20px 25px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.gray-button > button,
.gray-button > input {
    background: none;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;
    outline: none;
    border: none;
}
.gray-button > img {
    width: 20px;
    object-fit: cover;
}

/* ================================================= */
/* Border */
.top-bottom-border {position: relative;}
.top-bottom-border::before {
    content: "";
    background: linear-gradient(
        90deg,
        var(--primary-bg-color),
        var(--dark-white),
        var(--dark-white),
        var(--dark-white),
        var(--primary-bg-color)
    );
    height: 5px;
    width: 100%;

    position: absolute;
    bottom: -100px;
    left: 0;
}
.top-bottom-border::after {
    content: "";
    background: linear-gradient(
        90deg,
        var(--primary-bg-color),
        var(--dark-white),
        var(--dark-white),
        var(--dark-white),
        var(--primary-bg-color)
    );
    height: 5px;
    width: 100%;

    position: absolute;
    top: -100px;
    left: 0;
}

/* ================================================= */
/* Effects */
button {cursor: pointer;}
.click-effect {transition: all .3s; cursor: pointer;}
.click-effect:active {transform: scale(.95);}

/* ================================================= */
/* Ranks */
.rank {
    content: "";
    padding: 10px 20px;

    outline: none;
    border-radius: 20px;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    font-weight: bold;
}
.rank img {width: 30px;}
.rank-blue {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    border: 1px solid var(--blue);
}
.rank-orange {
    background-color: var(--light-orange);
    color: var(--dark-orange);
    border: 1px solid var(--orange);
}
.rank-gray {
    background-color: var(--dark-white);
    color: var(--primary-text-color);
    border: 1px solid var(--gray);
}

/* ================================================= */
/* Animations */
/* .text-appear {
    animation: text-appear linear;
    animation-timeline: view(60% auto);
}
.text-appear-2 {
    animation: text-appear-2 linear;
    animation-timeline: view(80% auto);
}
.text-slide-left {
    animation: text-slide-left linear;
    animation-timeline: view(60% auto);
}
.text-slide-right {
    animation: text-slide-right linear;
    animation-timeline: view(60% auto);
} */
.autoBlur {
    animation: text-blue linear;
    animation-timeline: view();
}
/* @keyframes text-appear {
    from {transform: translateY(500px) scale(.3); opacity: 0;} 
    to {transform: translateY(0) scale(1); opacity: 1;}
}
@keyframes text-appear-2 {
    from {transform: translateY(400px); opacity: 0;} 
    to {transform: translateY(0) ; opacity: 1;}
}
@keyframes text-slide-left {
    from {transform: translateX(100%); opacity: 0;} 
    to {transform: translateY(0); opacity: 1;}
}
@keyframes text-slide-right {
    from {transform: translateX(-100%); opacity: 0;} 
    to {transform: translateY(0); opacity: 1;}
} */
@keyframes text-blue {
    0% {filter: blur(40px);}
    52.5%,55% {filter: blur(0);}
    100% {filter: blur(40px);}
}
