body {
    padding: 0;
    padding-inline: 25px;
    margin: 0 auto;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    width: 1000px;
}

h1 {margin: 0; line-height: 45px;}
/* ================================================= */
/* Text */
.title-d {
    font-size: 2em;
    color: var(--dark-blue);
}
.text-d {
    color: var(--secondary-color);
}