@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Chewy&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    /* ================================================= */
    /* Colors */
    --primary-bg: #FFFFFF;
    --secondary-bg: #333331; --gray: #454545;

    --primary-main-color: #186CE6;   
    --secondary-main-color: #1A9CEE;  
    --tertiary-main-color: #20A9FF;
    --primary-blue: #186CE6;    --primary-orange: #E8320B;
    --secondary-blue: #1A9CEE;  --secondary-orange: #E9512A;
    --tertiary-blue: #20A9FF;   --tertiary-orange: #E9570E;

    /* ================================================= */
    /* Fonts */
    --title-font-boldonse: "Boldonse";
    --title-font-chewy: "Chewy";
    --text-font: "Robot";

}

.title-boldonse {font-family: var(--title-font-boldonse);}
.title-chewy {font-family: var(--title-font-chewy);}
.title-robot {font-family: var(--text-font);}