/* ================================================= */
/* Header-section */
#header-section img {
    width: 125px;
    height: 125px;
    object-fit: cover;

    border-radius: 100px;
    margin-top: 100px;
}
#header-section .subtitle-design {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ================================================= */
/* Card slide projects */
#card-slide-projects-section {
    width: 100%;
    display: flex;
    justify-content: center;

    position: relative;

    margin-top: 200px;
    margin-bottom: 200px;
}
#card-slide-projects-section .card-slider-track {
    display: flex;
    transition: transform 0.6s ease;
    width: max-content;
    gap: 100px;
}
#card-slide-projects-section .card {
    background-color: var(--dark-white);

    height: 550px;
    width: 900px;

    padding: 15px;
    z-index: 1;

    box-shadow: 0 25px 45px rgba(0,0,0,.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-direction: column;
}
#card-slide-projects-section .card img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}
#card-slide-projects-section .card label {font-size: 25px;}

/* ================================================= */
/* About */
#about-section {
    height: 1100px;
    position: relative;
}
#about-section::before {
    content: "";
    background: linear-gradient(
        90deg,
        var(--primary-bg-color),
        var(--dark-white),
        var(--dark-white),
        var(--dark-white),
        var(--primary-bg-color)
    );
    height: 5px;
    width: 100%;

    position: absolute;
    bottom: -100px;
    left: 0;
}
#about-section::after {
    content: "";
    background: linear-gradient(
        90deg,
        var(--primary-bg-color),
        var(--dark-white),
        var(--dark-white),
        var(--dark-white),
        var(--primary-bg-color)
    );
    height: 5px;
    width: 100%;

    position: absolute;
    top: -100px;
    left: 0;
}
.image-section {
    height: 100%;
    width: 100%;
    position: relative;
}
.image-section .image-bg {
    background-color: var(--primary-bg-color);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);

    width: 350px;
    height: 420px;

    padding: 10PX;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    transition: all .3s;
}
#about-section .image-section:hover .image-bg:nth-child(1) {
    left: 100px;
    bottom: 20%;
    transform: rotate(-15deg);
}
#about-section .image-section:hover .image-bg:nth-child(2) {
    right: 100px;
    bottom: 30%;
    transform: rotate(20deg);
}
#about-section .image-section .image-bg:nth-child(1) {
    position: absolute;
    left: 150px;
    bottom: 30%;
    transform: translateY(40%) rotate(-10deg);
}
#about-section .image-section .image-bg:nth-child(2) {
    position: absolute;
    right: 150px;
    bottom: 40%;
    transform: translateY(40%) rotate(15deg);
}
.image-section .image-bg img {width: 100%; height: 90%; object-fit: cover;}
.image-section .image-bg label {width: 100%; height: 10%;}

/* ================================================= */
/* Experience */
#experience-section {min-height: fit-content;}
#experience-section .text-table {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}
#experience-section .text-table label {margin: 0;}
#experience-section .text-table .line {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;

    position: relative;
}
#experience-section .text-table .line .left,
#experience-section .text-table .line .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 25px;

}

#experience-section .text-table .line .left {
    width: 30%;
    height: 100%;
}
#experience-section .text-table .line .right {
    width: 70%;
    height: 100%;
}

/* ================================================= */
/* Title */
#title-section {
    min-height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
}
#grid-title {
    height: 800px;
    position: relative;
}
#grid-title h1 {font-size: 150px; position: absolute; letter-spacing: 20px;}
#grid-title h1:nth-child(1) {left: 0; top: 0;}
#grid-title h1:nth-child(2) {right: 0; top: 150px;}
#grid-title h1:nth-child(3) {right: 100px; top: 300px;}
#grid-title h1:nth-child(4) {right: 0px; top: 450px;}
#grid-title h1:nth-child(5) {left: 10px; top: 600px}

/* ================================================= */
/* Projects */
#projects {
    background: url("../image/icon/bg-plus.png");
    background-repeat: repeat;
    background-size: 60px;

    
    width: 130%;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
#project-section {
    background-color: var(--primary-bg-color);
    width: calc(100% - 15%);
    box-shadow: 0 25px 45px rgba(0,0,0,.1);
    padding: 40px;

    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
#project-section .image-bg {
    width: 100%;
    height: 65%;
    margin-bottom: 20px;
}
#project-section .image-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#project-section .subtitle-design {
    margin-top: 20px;
    margin-bottom: 20px;
}
#project-section .button-section {justify-content: start;}

/* ================================================= */
/* Card */
#card-section {
    height: 900px;
    position: relative;
}
#card-section .image-section .image-bg {transition: all .3s;}
#card-section .image-section .image-bg:nth-child(1) {
    position: absolute;
    left: 10%;
    top: 0;
    transform: rotate(-10deg) scale(1.2);
    z-index: 2;
}
#card-section .image-section .image-bg:nth-child(2) {
    position: absolute;
    left: 5%;
    bottom: -10px;
    transform: rotate(3deg) scale(1.1);
    z-index: 1;
}
#card-section .image-section .image-bg:nth-child(3) {
    position: absolute;
    right: 7%;
    top: 0;
    transform: rotate(5deg);
    z-index: 3;
}
#card-section .image-section .image-bg:nth-child(4) {
    position: absolute;
    right: 6%;
    bottom: -50px;
    transform: rotate(-5deg) scale(1.3);
    z-index: 4;
}
#card-section .image-section .image-bg:hover {
    transform: rotate(0) scale(1.2);
    z-index: 10;
}